################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarService/FileContentIndex
/.vs/CarService/v17
/.vs
